<%- include('header') %>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Autók</h1>
        </div>
    </div>
</div>

<div class="container">
    <form>
        <div class="mb-3">
            <label for="licenseplate" class="form-label">Rendszám</label>
            <input type="text" class="form-control" id="licenseplate">
        </div>
        <div class="mb-3">
            <label for="maker" class="form-label">Gyártó</label>
            <input type="text" class="form-control" id="maker">
        </div>
        <div class="mb-3">
            <label for="length" class="form-label">Hossz</label>
            <input type="text" class="form-control" id="length">
        </div>
        <div class="mb-3">
            <label for="maxpeople" class="form-label">Max fő</label>
            <input type="text" class="form-control" id="maxpeople">
        </div>
        <div class="mb-3">
            <label for="trunksize" class="form-label">Csomagtér</label>
            <input type="text" class="form-control" id="trunksize">
        </div>

        <a class="btn btn-primary" href="/cars">Mentés</a>
        <a class="btn btn-danger" href="/cars">Vissza</a>
    </form>
</div>

<%- include('footer') %>