<%- include('header') %>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Autók</h1>
        </div>
    </div>
</div>

<div class="container">
    <form>
        <div class="mb-3">
            <label for="licenseplate" class="form-label">Rendszám</label>
            <input type="text" class="form-control" id="licenseplate">
        </div>
        <div class="mb-3">
            <label for="maker" class="form-label">Gyártó</label>
            <input type="text" class="form-control" id="maker">
        </div>
        <div class="mb-3">
            <label for="length" class="form-label">Hossz</label>
            <input type="text" class="form-control" id="length">
        </div>
        <div class="mb-3">
            <label for="maxpeople" class="form-label">Max fő</label>
            <input type="text" class="form-control" id="maxpeople">
        </div>
        <div class="mb-3">
            <label for="trunksize" class="form-label">Csomagtér</label>
            <input type="text" class="form-control" id="trunksize">
        </div>

        <a class="btn btn-primary" href="#">Mentés</a>
        <a class="btn btn-danger" href="/index.html">Vissza</a>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>

<%- include('footer') %>