<%- include('header') %>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Utasok</h1>
        </div>
    </div>
</div>

<div class="container">
    <form>
        <div class="mb-3">
            <label for="licenseplate" class="form-label">Név</label>
            <input type="text" class="form-control" id="licenseplate">
        </div>
        <div class="mb-3">
            <label for="maker" class="form-label">Kor</label>
            <input type="text" class="form-control" id="maker">
        </div>
        <div class="mb-3">
            <label for="length" class="form-label">Vezetett órák</label>
            <input type="text" class="form-control" id="length">
        </div>

        <a class="btn btn-primary" href="#">Mentés</a>
        <a class="btn btn-danger" href="/passengers.html">Vissza</a>
    </form>
</div>
        
<%- include('footer') %>